/*font-family: 'Lemonada', cursive; font-family: 'Playfair Display', serif; 
    font-family: 'Josefin Sans', sans-serif; font-family: 'Abel', sans-serif; 
    font-family: 'Shadows Into Light', cursive; font-family: 'Gruppo', cursive;*/
#logoImg {
    width: 35px;
    margin-top: 0px;
    margin-right: 3px;
    margin-left: 25px;
}
nav#navvy.navbar.navbar-static-top {
    margin-bottom: 0px;
    background-color: #474E5D;
    color: #FFF6F0;
}
li {
    letter-spacing:4px;
    padding-right:8px;
}
#navvy a {
    color: #FFF6F0;
}

    #navvy a:hover {
        background: none;
    }
    .navbar-header {
        nav-right:auto;
    }
.bgImg {
    background-image: url('Images/tuscany-villas-sant-anna.jpg');   
    background-size:cover;
    padding-right:25px;
    
    height:100%;
    margin: 0px;
    
}
#sideImage{
    text-align:right;
}

.fullWidth{
    width:100%;   
 
}
.fullWidth1 {
    padding:0%;
}
.firstSection {
    text-align: center;
    font-size: 80px;
    padding-top: 12px;
    color: #FFF6F0;
    font-family: 'Playfair Display';
}
.smallerSection {
    text-align: center;
    font-size: 25px;
    font-family: 'Playfair Display';
    color: #FFF6F0;
    padding-bottom: 204.71px;
}